http://localhost {
  encode gzip

  @api path /api/* /docs* /openapi.json
  handle @api {
    reverse_proxy backend:8000
  }

  handle {
    reverse_proxy frontend:80
  }
}

pro-aws.housesurveyai.co.uk, www.housesurveyai.co.uk {
  encode gzip

  @api path /api/* /docs* /openapi.json
  handle @api {
    reverse_proxy backend:8000
  }

  handle {
    reverse_proxy frontend:80
  }
}

api-aws.housesurveyai.co.uk {
  encode gzip
  reverse_proxy backend:8000
}
